/*
 *         __
 *        / /___ _____  ____  _____
 *   __  / / __ `/ __ \/ __ \/ ___/
 *  / /_/ / /_/ / / / / /_/ (__  )
 *  \________,_/_/ /_/\____/____/     __   _
 *     / __ \__  _______(_)________  / /__(_)
 *    / /_/ / / / / ___/ / ___/_  / / //_/ /
 *   / _, _/ /_/ (__  ) / /__  / /_/ ,< / /
 *  /_/ |_|\__,_/____/_/\___/ /___/_/|_/_/
 *
*/

img {
  border: 2px solid #ddd;
}

video {
  width: 100%;
  padding-bottom: 1rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-bottom: 1rem;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.archive-title {
  margin-top: 0
}

.archive-post-date {
  color: #9a9a9a;
}

.sidebar-copyright {
  font-size: 18px;
}
