language: ruby

rvm:
- 2.4

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

branches:
  only:
  - master

script:
  - bundle exec jekyll build
  - bundle exec rake test
