{% comment %}
<form method="POST" action="https://janosrusiczki-staticman.herokuapp.com/v3/entry/github/janosrusiczki/janosrusiczki/master/comments">
  <input name="options[redirect]" type="hidden" value="https://www.rusiczki.net">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><input name="fields[url]" type="url">URL</label>
  <label><textarea name="fields[message]"></textarea>Message</label>
  <button type="submit">Send</button>
</form>
{% endcomment %}