---
layout: default
---

<h1 class="archive-title">Archive of posts from {{ page.date | date: "%Y" }}</h1>

{% assign posts = page.posts.reverse %}
{% assign previous_month = '' %}
{% for post in posts %}
  {% capture current_month %}{{ post.date | date: "%B" }}{% endcapture %}
  {% if current_month != previous_month %}
    {% if previous_month != '' %}
      </ul>
    {% endif %}
    {% assign previous_month = current_month %}
    <h2>{{ current_month }}</h2>
    <ul class="posts">
  {% endif %}
  <li>
    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    <span class="archive-post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
  </li>
{% endfor %}
</ul>
