---
layout: default
---

<div class="microblog-entry">
  <span class="post-date">
    {{ page.date | date: "%A, %B %-d, %Y &middot; %H:%M UTC" }}
  </span>
  {{ content }}
  {% if page.source_url %}
  <p class="microblog-source">
    Originally posted on
    {% if page.source == 'mastodon' %}Mastodon{% elsif page.source == 'twitter' %}Twitter{% else %}{{ page.source }}{% endif %}:
    <a href="{{ page.source_url }}" rel="noopener">{{ page.source_url }}</a>
  </p>
  {% endif %}
</div>

<p><a href="/microblog/">&laquo; Back to the microblog</a></p>

<div id="comments"></div>
{% include comment-form-remark42.html %}

{% include built-from.html %}
