---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    {{ page.date | date: "%A" }},
    <a href="/{{ page.date | date: "%Y/%m" }}/">{{ page.date | date: "%B }}</a>
    <a href="/{{ page.date | date: "%Y/%m/%d" }}/">{{ page.date | date: "%-d" }}</a>,
    <a href="/{{ page.date | date: "%Y" }}/">{{ page.date | date: "%Y" }}</a>
  </span>
  {{ content }}
</div>
 
<div class="post-categories">
  {% assign categories = page.categories %}
  {% if categories.size > 0 %}
    <p>
      Posted in: {% for category in categories %}<a href="/category/{{category|slugify}}">{{category}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
    </p>
  {% endif %}
</div>

{% include comment-form-disqus.html %}

{% include comment-form-staticman.html %}

<div class="previous-next">
  <h2>Navigate</h2>
  <ul class="previous-next-posts">
    {% if page.previous.url %}
      <li>
      <h3>
          <a rel="prev" class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
      </h3>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
      <h3>
          <a rel="next" class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
      </h3>
      </li>
    {% endif %}
  </ul>
</div>

{% include built-from.html %}
